/*!
* © Devsfront
* Copyright Not A Number and his devs

                    .
                    d8b
                d88888b
                d888Y Y888b
            d888Y  .  Y888b
            d888Y   d8b   Y888b
        d888Y   d88888b   Y888b
            ""   d888Y Y888b   ""
            d888Y  .  Y888b
                ""   d8b   ""
                d88888b
8888b   88888     Y8b     8888b   88888
    8888b   888       '       8888b   888
    88888b  888               88888b  888
    888Y88b 888    88888b.    888Y88b 888
    888 Y88b888    "   "88b   888 Y88b888
    888  Y88888   .d8888888   888  Y88888
    888   Y8888   888   888   888   Y8888
88888   Y888   "Y88888"88 88888   Y888 
*---------------------------------------------
*
* MAIN.CSS
*
*/

/* Font ********************************************** */



/* VARIABLES ********************************************* */

:root{
    --color-principal: #d9dadc;
    --color-B-bg: #edeef0;
    --color-B-btn: #95329a;
    --color-black: black;
    --color-white: white;

    --color-primary: #983298;
    --color-black: black;
    --color-grey: #737373;
    --color-head: #80939a;

    --color-bg-footer: #edeef0;
}



/* General code*/

*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.8rem;
    box-sizing: border-box;
    font-family: sans-serif;
}

.main-box{
    background: #ebeeef;
}

button{
    text-transform: capitalize;
    cursor: pointer;
    outline: none!important;
}


/* INDEX  ********************************************** */

.navigation-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: .1rem 0; */
}

.navigation-box a{
    color: rgba(0, 0, 0, 0.767);
    text-decoration: none;
}

/* .navigation-box ul{
    margin-top: 1rem;
} */

.navigation-box ul li{
    list-style: none;
    display: inline-block;
    margin: 0 .5rem;
    font-size: 1.5rem;
}

.navigation-box h1{
    margin: 0;
}

.navigation-box h1 img{
    height: 4rem;
    margin-bottom: .4rem;
}

.navigation-box .logo span{
    font-size: 1.8rem;
}

.navigation-box h1 .categories{
    font-size: 1.5rem;
    margin-left: 2rem;
}

.navigation-box h1 .categories img{
    height: 1.5rem;
    margin-bottom: .5rem;
}

.navigation-box .d-nones{
    margin-bottom: 0;
}

.navigation-box .inscription,
.navigation-box .connexion{
    border: 1px solid var(--color-B-btn);
    padding: .7rem 1.3rem;
    border-radius: .15rem;
    transition: .5s;
}

.navigation-box .inscription{
    background: var(--color-B-btn);
}

.navigation-box .inscription:hover{
    background: #611d64;
    transition: .5s;
}

.navigation-box .connexion:hover{
    background: rgb(223, 223, 223);
    transition: .5s;
}

.navigation-box .inscription a{
    color: white!important;
}

.navigation-box .searchbar{
    background: transparent;
    flex: 1;
    padding: 0 2rem;
    margin: 0 2rem;
    border-left: 1px solid rgba(0, 0, 0, 0.479);
    border-right: 1px solid rgba(0, 0, 0, 0.479);
}

.navigation-box .searchbar form input{
    width: 90%;
}

.navigation-box .searchbar input,
.navigation-box .searchbar button{
    background: transparent;
    border: none;
    outline: none;
    padding: 1rem;
    font-size: 1.4rem;
    transition: .5s;
}

.navigation-box .searchbar button:hover{
    background: #96329ba4;
    transition: .5s;
}

.navigation-box .searchbar button img{
    height: 2rem;
}

.navigation-box .nav-items{
    display: none;
}

.navigation-box .p-categories{
    position: relative;
    display: inline-block;
    padding: 1rem 0;
    margin-bottom: 0;
}

.navigation-box .p-categories:hover .nav-items{
    display: block;
    position: absolute;
    top: 100%;
    background: white;
    width: 23rem;
    border-top: 2px solid var(--color-B-btn);
    z-index: 1;
}

.navigation-box .nav-items li{
    display: block;
    padding: 1rem;
    margin: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.267);
    border-left: 2px solid transparent;
    transition: .5s;
}

.navigation-box .nav-items li:hover{
    background: #9832988c;
    width: 100%;
    border-left: 2px solid var(--color-B-btn);
    transition: .5s;
}

.navigation-box .content-panier{
    display: none;
}

.navigation-box ul li .panier{
    height: 2.7rem;
    margin-right: .5rem!important;
    margin-bottom: .3rem;
}

.navigation-box .p-panier{
    position: relative;
    padding: 1rem 1.5rem;
}

.navigation-box .n-panier{
    background: green;
    height: 1.7rem!important;
    width: 1.7rem!important;
    font-size: 1.2rem;
    border-radius: 50%;
    color: white;
    text-align: center;
    position: absolute;
    top: 10%;
    right: 16%;
}

.navigation-box .p-panier:hover .content-panier{
    position: absolute;
    top: 100%;
    right: 1%;
    width: 25rem;
    background: white;
    display: block;
    border-top: 2px solid var(--color-B-btn);
    padding: 1rem;
    z-index: 1;
}

.navigation-box .sous-categories{
    display: none;
}

.navigation-box .n-item:hover .sous-categories{
    display: block;
    position: absolute;
    left: 100%;
    background: white;
    width: 20rem;
    min-height: 19.5rem;
    top: 0%;
    box-shadow: 4px 4px 16px rgba(20,23,28,.25);
}

.navigation-box .content-panier .img-article{
    height: 4rem;
    margin-right: .5rem;
}

.navigation-box .content-panier button{
    float: right;
    background: transparent;
    border: none;
    cursor: pointer;
}

.navigation-box .content-panier .img-supprimer{
    height: 2rem;
}

.navigation-box .menu-bar img,
.navigation-box .d-search img{
    height: 3rem;
    display: none;
}

/* .navigation-box .d-search{

} */

.navigation-box .d-search button{
    background: transparent;
    border: none;
    outline: none;
}

.navigation-box .d-search .screen-search{
    display: none;
    position: absolute;
    background: white;
    right: 1%;
    padding: 1rem 2rem;
    width: 30rem;
}

.d-search .screen-search input{
    width: 80%;
    padding: .4rem 1rem;
    margin-right: .8rem;
    outline: none;
    font-size: 1.4rem;
    border: 1px solid var(--color-B-btn);
}

.d-search .screen-search button{
    outline: none;
    border: 1px solid transparent;
    width: 15%;
    background: transparent;
}

.d-search .screen-search button img{
    height: 2rem;
    margin: auto;
}

/* .navigation-box .d-search input{
    display: none;
    border: none;
    border-bottom: 1px solid  var(--color-B-btn);
    margin-left: 3rem;
    width: 100%;
} */

/* media screen menu */
.media-menu{
    display: none;
    position: absolute;
    background: white;
    width: 100%;
    z-index: 1;
}

.media-menu .info-profil-screen{
    margin: 0 0 2rem;
}

.media-menu .profil-nom{
    font-size: 1.3rem;
}

.navigation-menu ul .ml-1{
    margin: 1rem 0;
}

.navigation-menu ul li{
    list-style: none;
}

.navigation-menu ul li a{
    color: rgba(0, 0, 0, 0.767);
    text-decoration: none;
    font-size: 1.4rem;
}

.navigation-menu ul li .panier{
    height: 2rem;
    margin-right: .5rem!important;
}

.navigation-menu .p-categories{
    padding: 2rem;
}

.navigation-menu .p-categories .nav-items{
    display: none;
    margin-left: 1rem;
}

.navigation-menu .p-categories .categories:hover .nav-items{
    display: block;
}

.navigation-menu .p-categories .categories img{
    height: 1.5rem;
    margin-right: .9rem;
    margin-bottom: .7rem;
}

.navigation-menu .p-categories .sous-categories{
    display: none;
}

.navigation-menu .p-categories .n-item:hover .sous-categories{
    display: block;
    margin-left: 2rem;
}

.n-item .icon-categories{
    float: left;
}

.n-item .icon-categories img{
    margin-right: .5rem;
}

.navigation-menu ul li .panier {
    height: 2rem;
}

.navigation-menu .inscription, 
.navigation-menu .connexion {
    border: 1px solid var(--color-B-btn);
    padding: .7rem 1.3rem;
    border-radius: .15rem;
    transition: .5s;
    display: inline-block;
}

.navigation-menu .inscription {
    background: var(--color-B-btn);
}

.navigation-menu .inscription a{
    color: white;
}

.fleche-menu{
    height: 1.2rem!important;
    margin-top: .4rem;
    float: right;
}

.navigation-menu .prof-icon{
    height: 2rem;
    margin-right: .5rem;
}


/* navbar */
.navigation{
    position: sticky; 
    top: 0; 
    z-index: 99999999;
    /* background-color: black; */
    box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
}

.navigation .navigation-box{
    padding: 0 2rem;
}

/* .navbar-brand img
{
    min-height: 40px;
    width: 50px;
}

.nav-link
{
    color: #737373;
}

.nav-link:hover
{
    color: #737373;
}

.form-inline
{
    width: 275px;
}

#search
{
    width: 100%;
}

i
{
    color: var(--color-grey);
}

.button
{
    border: 1px solid var(--color-head);
    background-color: transparent;
    color: #737373;
    border-radius: 4px;
    width: 80px;
}

.button:hover
{
    background-color: var(--color-primary);
    color: white;
    border: none;
}

.login
{
    margin-left: 15px;
    width: 110px;
} */

.Iheader
{
    min-height: 50vh;
    background: linear-gradient(#57717cc2, #57717cc2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.Iaccueil{
    /* padding-top: 5%; */
    text-align: center;
    color: white;
}

.Iaccueil h1
{
    font-size: 60px;
    margin-bottom: 2rem;
}

.Iaccueil p
{
    font-size: 25px;
}

/* .Idownload
{
    margin-top: -50px;
} */

.Idownload img
{
    width: 145px;
    min-height: 65px;
    transition: .5s;
}

.Idownload img:hover
{
    transform: translateY(-5%);
    transition: .6s;
}

/* service */

#service{
    background: var(--color-primary);
    padding: 2rem 0;
}

#service .item-service{
    display: flex;
}

#service .item-service img{
    height: 5rem;
    margin-right: 1rem;
}

/* card cours */

.MaSection
{
    min-height: 200px;
    padding: 1rem 0;
}

/*-- Container --*/
/* .B-container
{
    width: 70%;
} */

/*-- Section Nos Cours --*/
.B-title
{
    font-weight: bold;
}

/* -- navbar-- */
/* .B-nav
{
    width: 90%;
} */

.B-nav li
{
    border-bottom: 1px solid var(--color-B-btn);
    transition: .2s all;
}

.B-nav li:hover
{
    border-bottom: 1px solid var(--color-B-btn);
}

/* .B-nav li:hover a
{
    color: black;
} */

.B-nav li a
{
    color: var(--color-black);
}

.B-nav li .active{
    background: #983298c2;
    /* border-top-left-radius: .6rem;
    border-top-right-radius: .6rem; */
    color: white;
    transition: all .5s;
}

.etoile{
    margin-right: 2rem;
}

.etoile img{
    height: 1.5rem!important;
    width: 1.5rem!important;
}



/*-- Les Cards --*/
.B-card{
    /* width: 20%; */
    border: none!important;
    border-radius: 0!important;
    margin-top: 3rem;
    position: relative;
    box-shadow: 1px 1px 1px 1px rgba(20,23,28,.1), 3px 3px 1px 1px rgba(20,23,28,.1);
}

.price
{
    position: absolute;
    top: 3%;
    height: 2rem;
    padding: 0 5px;
    background-color: rgba(0, 128, 0, 0.877);   
}

.price p
{
    font-size: 14px;
    color: var(--color-white);
}

/* .marge-first-card
{
    margin-left: 10px;
}

.marge-card
{
    margin-left: 45px;
} */

.B-card img
{
    width: 100%;
    height: 13rem;
}

.B-card-block
{
    padding: 5px;
    min-height: 120px;
    padding-top: 2rem;
}

.B-card-text
{
    font-size: 14px;
}

.text-bold
{
    font-weight: bold;
}

/* -- bloc tooltip -- */
.tooltipHiden
{
    visibility: hidden;
    position: absolute;
    top: -20%;
    left: 100%; 
    z-index: 333333;
}

.tooltip-bloc
{
    width: 160%;
    height: 40rem;
    margin: 0px 10px;
    padding: 7px 15px;
    background: var(--color-white);
    font-size: 13px;
    border-radius: 2px;
    box-shadow: 0px 2px 8px -1px rgba(0,0,0,0.75);
}

.B-span
{
    margin-right: 10px;
}

.tooltip-bloc ul
{
    margin-left: 30px;
}

.B-btn
{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background: var(--color-B-btn);
    width: 50%;
    border: none;
    padding: 10px 5px;
    color: var(--color-white);
    margin: 10px 0;
}

/* -- affichage tooltip -- */
.B-card:hover .tooltipHiden
{
    visibility: visible;
}


/* -- section formation -- */
.mtb-50{
    margin: 7rem 0;
}
/* .Section__Formation{
    margin-top: 80px;
    margin-bottom: 100px;
} */


/* section appel action ************************ */

#action{
    min-height: 10rem;
    padding: 2rem 0;
    background: rgb(41, 48, 59);
    color: rgba(255, 255, 255, 0.863);
}

#action .action-img img{
    height: 3rem;
}

#action .action-img{
    display: flex;
    justify-content: space-evenly;
    margin: 2rem 0;
}

#action .action-content h1{
    font-size: 3rem;
}

#action button{
    outline: none;
    background: #973298;
    padding: .8rem 2rem;
    border: 1px solid transparent;
    color: white;
    transition: .5s;
}

#action button:hover{
    background: #7780fe4d;
    border: 1px solid #777ffe;
    color: black;
    transition: .5s;
}

/* popop action */
#action .modal-content,
.containers .modal-content{
    padding: 1rem 2rem;
    color: black;
    margin-top: 6rem;
}

#action .modal-content .header-form,
.containers .modal-content .header-form{
    width: 100%;
    margin: auto;
    margin-top: -3rem;
    margin-bottom: 1rem;
    min-height: 6rem;
    background: #6b016b;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.39), 0 2px 10px 0 rgba(0, 0, 0, 0.39);
    z-index: 1;
}

#action .modal-content .header-form h2,
.containers .modal-content .header-form h2{
    font-size: 2.5rem;
    text-align: center!important;
    flex: 1;
}

#action .modal-content .header-form img,
.containers .modal-content .header-form img{
    height: 2.5rem;
    margin-right: .7rem;
}

#action .header-form .close,
.containers .header-form .close{
    opacity: 1;
}

#action .header-form .close img,
.containers .header-form .close img{
    height: 2rem;
}

#action .modal-content form label,
#action .modal-content form label{
    text-transform: capitalize;
}

#action .modal-content form input,
#action .modal-content form textarea,
#action .modal-content form select,
.containers .modal-content form input,
.containers .modal-content form textarea,
.containers .modal-content form select{
    width: 100%;
    padding: .5rem 1rem;
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    border: 1px solid var(--color-B-btn);
    outline: none;
}

#action .modal-content form button,
.containers .modal-content form button{
    outline: none;
    background: #973298;
    padding: .8rem 2rem;
    border: 1px solid transparent;
    color: white;
    transition: .5s;
}

#action .modal-content form button:hover,
.containers .modal-content form button:hover{
    background: #963298bd;
    border: 1px solid #973298;
    transition: .5s;
}

/* select2 */
.select2 {
    width: 100% !important;
    height: 4rem;
}

/* section categorie */
#categories{
    padding: 5rem 0;
}

#categories h1{
    font-size: 3rem;
}

#categories .categorie-item{
    display: flex;
    background: white;
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
    box-shadow: 0px 4px 6px -5px rgba(0,0,0,0.85);
    width: 100%;
}

#categories .categorie-item img{
    height: 4rem;
    margin-right: 2rem;
}

/* section testamonial */
#testamonial{
    padding: 5rem 0;
    background: rgba(0, 0, 0, 0.082);
}

#testamonial h1{
    font-size: 3.5rem;
    text-transform: capitalize;
    margin-bottom: 2rem;
}

.TestonialProfInfo{
    display: flex;
}

.TestemonySlide{
    background: white;
    padding: 2rem;
}

.TestonialProfInfo .testamonial-img{
    flex: 1;
    margin-right: 1rem;
}

.TestonialProfInfo .testamonial-img img{
    height: 6rem;
    width: 6rem;
}

.TestemonySlide .description{
    text-align: justify;
    color: rgba(0, 0, 0, 0.603);
}

.TestonialProfInfo p{
    flex: 4;
}

.owl-theme .owl-dots .owl-dot {
    outline: none;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot span {
    background: #7780fe2d;
    transition: .5s;
    margin-top: 2rem;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #777ffe;
    transition: .5s;
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot{
    display: none;
}

/* PAGE INSCRIPTION ************************************* */
/* PAGE INSCRIPTION ************************************* */
/* PAGE INSCRIPTION ************************************* */
/* PAGE INSCRIPTION ************************************* */
/* PAGE INSCRIPTION ************************************* */
/* PAGE INSCRIPTION ************************************* */

#inscription{
    padding: 5rem 0;
    min-height: 40vh;
    background: linear-gradient(rgba(0, 0, 0, 0.74), rgba(0, 0, 0, 0.767)), url(../images/pattern-what-the-hex.png);
}

#inscription .description-inscription{
    width: 80%;
    margin: auto;
}

#inscription .description-inscription h1{
    color: white;
    font-weight: bold;
    font-size: 5rem;
}

#inscription .description-inscription p{
    color: rgb(172, 172, 172);
}

#inscription .form-inscription{
    background: white;
    min-height: 22rem;
    width: 70%;
    margin: auto;
    border-radius: .3rem;
    padding: 2.5rem;
}

#inscription .inscription-success{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 20rem;
}

#inscription .inscription-success img{
    height: 9rem;
}

#inscription .inscription-success h1{
    margin-bottom: .3rem;
}

#inscription .inscription-success p{
    padding: 1rem;
    font-size: 1.4rem;
    text-align: center;
}

#inscription .inscription-success button{
    width: 80%!important;
    background: rgba(0, 128, 0, 0.349)!important;
    border: 1px solid green!important;
    padding: .5rem 1rem!important;
}

#inscription .form-connexion{
    padding: 4rem 2.5rem;
}

#inscription .form-inscription input ::placeholder{
    font-size: 1rem;
}

#inscription .form-inscription input{
    outline: none;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    width: 100%;
    padding: 1rem;
    color: rgba(0, 0, 0, 0.719);
    border: 1px solid rgba(0, 0, 0, 0.301);
    transition: .5s;
}

#inscription .form-inscription input:focus{
    border: 1px solid var(--color-B-btn);
    transition: .5s;
}

/* #inscription .form-inscription input{
    
} */

#inscription .form-inscription button{
    background: #95329a;
    border: 1px solid #95329a;
    font-size: 2rem;
    width: 100%;
    padding: 1.3rem;
    outline: none;
    color: white;
    transition: .5s;
}

#inscription .form-inscription button:hover{
    transform: translateY(5%);
    transition: .5s;
}

#inscription .form-inscription button:hover{
    background: #7a2d7e;
    transition: .5s;
}

#inscription .form-inscription .connexion{
    margin-top: 1rem;
}

#inscription .form-inscription .forgot{
    font-size: 1.5rem;
}

#inscription .form-inscription .form-row span{
    color: rgba(0, 0, 0, 0.726);
}

#inscription .form-inscription .img-connexion img{
    height: 3rem;
    margin: 1rem 1rem 0;
}

/* custom file */
.input-file-container {
    position: relative;
    width: 100%;
    margin-bottom: 2rem;
} 

.js .input-file-trigger {
    display: block;
    padding: 1rem .5rem;
    background: transparent;
    border: 1px solid var(--color-B-btn);
    color: #757575;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
}

.js .input-file {
    position: absolute;
    top: 0; left: 0;
    width: 225px;
    opacity: 0;
    padding: 14px 0;
    cursor: pointer;
}

.js .input-file:hover + .input-file-trigger,
.js .input-file:focus + .input-file-trigger,
.js .input-file-trigger:hover,
.js .input-file-trigger:focus {
    background: transparent;
    color: var(--color-B-btn);
}

.file-return {
    margin: 0;
}
.file-return:not(:empty) {
    margin: 1em 0;
}
.js .file-return {
    font-style: italic;
    font-size: .9em;
    font-weight: bold;
}
.js .file-return:not(:empty):before {
    content: "Selected file: ";
    font-style: normal;
    font-weight: normal;
}


/* PAGE COURS ********************************* */
/* PAGE COURS ********************************* */
/* PAGE COURS ********************************* */
/* PAGE COURS ********************************* */
/* PAGE COURS ********************************* */

.Iheader-cours{
    min-height: 40vh;
    background: linear-gradient(#57717cc2, #57717cc2);
    display: flex;
    align-items: center;
}

.header-content_cours{
    color: white;
}

.box-content_cours{
    width: 55%;
}

.header-content_cours h1{
    font-size: 4rem;
}

.header-content_cours p{
    color: rgb(231, 231, 231);
    font-size: 1.6rem;
}

.header-content_cours .certif{
    background: orange;
    padding: 0 1rem;
    color: rgba(0, 0, 0, 0.904);
}

.cours-block-left{
    padding: 5rem 0;
}

.r-reverse{
    flex-direction: row-reverse;
}

.prerequis{
    min-height: 10rem;
    background: #50576321;
    color: rgba(0, 0, 0, 0.76);
    padding: 1.5rem;
    margin-bottom: 3rem;
}

.prerequis h3{
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.prerequis ul{
    display: flex;
    flex-wrap: wrap;
}

.prerequis ul li{
    list-style: none;
    font-size: 1.4rem;
    width: 50%;
    margin-bottom: 1.2rem;
    padding-right: 2rem;
}

.prerequis ul li img{
    height: 1.5rem;
    margin-right: .5rem;
}

.cours-block-left .prerequis-video h3,
.cours-block-left .description-video h3{
    font-size: 2.5rem;
}

.cours-block-left .prerequis-video ul{
    margin-left: 2rem;
    font-size: 1.5rem;
}

.cours-block-left .description-video p{
    font-size: 1.5rem;
}

.cours-block-left .cours-video-c{
    min-height: 40rem;
    background: transparent;
    margin: 5rem 0 3rem;

}

.cours-block-left .auteur-video .image-auteur{
    height: 9rem;
    width: 9rem;
    border-radius: 50%;
    border:1px solid #dedfe0;
}

.cours-block-left .auteur-video .image-auteur img{
    height: 9rem;
    width: 9rem;
    border-radius: 50%;
}

.cours-block-left .auteur-video ul li{
    list-style: none;
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.cours-block-left .auteur-video ul li img{
    height: 1.5rem;
    margin-right: .5rem;
}

.cours-block-left .auteur-video h2{
    font-size:2.3rem;
    color: orange;
    margin-bottom: 1rem;
}

.cours-block-left .auteur-video .description-auteur{
    font-size: 1.5rem;
    line-height: 2.5rem;
}

/* cours block right */
.pt-10{
    margin-top: -17rem;
    position: sticky;
    top: 0;
}

.cours-block-rigth{
    position: sticky;
    top: 0;
    border: 1px solid #50576321;
}

.achat-liste button{
    background: transparent;
    border: none;
    outline: none;
    transition: .5s;
    font-size: 1.4rem;
}

.achat-liste button:hover{
    transform: translateY(-7%);
    transition: .5s;
}

.achat-liste button img{
    height: 2.5rem;
}

.cours-block-rigth .video-minuature{
    background: linear-gradient(rgba(0, 0, 0, 0.459), rgba(0, 0, 0, 0.897)), url(../images/805992_d306_8.jpg);
    background-size: cover;
    min-height: 100%;
    width: 100%;
}

.cours-block-rigth .content-cours-v{
    padding: 1rem 2rem;
}

.cours-block-rigth .acheter button{
    outline: none;
    padding: 1.2rem 2rem;
    width: 90%;
    font-size: 1.7rem;
    border: 1px solid #50576321;
    background: transparent;
    border-radius: .2rem;
    transition: .5s;
}

.cours-block-rigth .acheter .btn-ajout{
    background: var(--color-B-btn);
    color: white;
}

.cours-block-rigth .acheter button:hover{
    transition: .5s;
    box-shadow: 0px 0px 4px 1px rgb(167, 167, 167);
}

.cours-block-rigth .acheter span{
    font-size: 1.3rem;
}

.cours-block-rigth .content-video-descript{
    padding: 1rem 2rem;
}

.cours-block-rigth .content-video-descript h5{
    font-size: 1.8rem;
}

.cours-block-rigth .content-video-descript ul li{
    list-style: none;
}

.cours-block-rigth .content-video-descript img{
    height: 1.3rem;
    margin-right: .5rem;
}

.cours-block-rigth .content-video-descript span{
    font-size: 1.3rem;
}

.cours-block-rigth .partage{
    margin-top: 1rem;
}

.cours-block-rigth .partage p{
    position: relative;
}

.cours-block-rigth .partage p::before{
    content: "";
    position: absolute;
    left: 50%;
    top: 2rem;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.1);
    height: 1px;
    width: 60%;
}

.cours-block-rigth .partage p a{
    text-decoration: none;
}

.cours-block-rigth .partage img{
    height: 2.5rem;
}

/* video css */
.coursContent{
    margin-top: 45px;
}

.coursContentHeader{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 6rem;
    padding-top: 10px;
    margin-bottom: 1rem;
}

.coursContentTitle{
    margin-bottom: 20px; 
    font-size: 22px;
}

.videoResume{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.videoResume p{
    margin-left: 35px;
}

.videoResume a{
    color: #5390c0;
    font-size: 14px;
}

.videoResume a:hover{
    color: #254c6b;
    text-decoration: none;
}

.coursContentWrapper{
    margin-bottom: 7rem;
}

.card .card-header{
    margin-left: -25px;
    margin-right: -25px;
}

.card .card-header{
    font-size: 14px;
    border-radius: 0px;
    border: .5px solid #dedfe0;
    margin-bottom: 1px;
}

.card-header{
    padding: 8px 20px;
    display: flex;
    align-items: center;
    border-radius: 0px;
    background: #d6dadd;
    color: #292f3bde;
}

.card-header .first-p{
    margin: 0 auto;
    width: 70%;
    font-weight: bold;
}

.card-header .second-p{
    margin: 0 auto;
    width: 15%;
}

.card-header .third-p{
    margin: 0 auto;
    width: 10%;
}

.card-header img{
    height: 11px;
    width: 11px;
    margin-right: 15px;
}

.card-body{
    background: #ebeeef;
    padding: 0;
}

.card-body ul{
    display: block!important;
    color: black;
}

.card-body ul li img{
    height: 1.5rem;
    margin-right: 1rem;
}

.card-body ul li a{
    color: rgba(0, 0, 0, 0.726)!important;
    text-decoration: none;
}



.table {
    margin-bottom: 0rem !important;
}

.table tr {
    border-bottom:1px solid #dedfe0;
}

.table td {
    border: none;
}

.table tr td:first-child a{
    margin-left: 30px;
}

.table td a{
    color: #5390c0;
}

.table td a:hover{
    color: #292f3b;
    text-decoration: none;
}

.table td img{
    height: 10px;
    width: 10px;
    margin-right: 20px;
}

.integralite-video_invite button{
    background: transparent;
    border: none;
    color: #993399;
    outline: none;
}

/* aside element */

.openCoursIntro{
    height: 180px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: flex-end;
    color: white;
    cursor: pointer;
    width: 100%;
}

.openCoursIntro:hover.openCoursIntro img{
    transform: scale(1.3);
}

.openCoursIntro img{
    height: 7rem;
    width: 7rem;
    transition: .5s;
    margin-top: 1rem;
}



/* PAGE PROFIL ****************************** */
/* PAGE PROFIL ****************************** */
/* PAGE PROFIL ****************************** */
/* PAGE PROFIL ****************************** */
/* PAGE PROFIL ****************************** */

/* containers */
.containers{
    width: 75%!important;
    margin: auto;
}

/* block left */
.block-profil-img{
    position: sticky;
    top: 6rem;
}

.block-profil-img .b-img-profil{
    min-height: 30rem;
    margin-bottom: 2rem;
}

.block-profil-img .b-img-profil img{
    width: 100%;
    height: 100%;
    border-radius: .3rem;
}

.block-profil-img h1{
    color: rgba(0, 0, 0, 0.719);
    margin-bottom: 2rem;
}

.block-profil-img p{
    text-align: center;
}

.block-profil-img p button{
    background: #95329ae1;
    border: 1px solid rgba(92, 92, 92, 0.637);
    color: white;
    width: 100%;
    padding: 1rem;
    font-size: 1.8rem;
    border-radius: .3rem;
    outline: none;
    transition: .5s;
}

.block-profil-img p button:hover{
    transform: scale(1.1);
    transition: .5s;
}

/* block right */
.profil-deconnect{
    display: none;
    position: absolute;
    right: 1%;
    background: white;
    padding: 1.5rem 1rem;
    width: 15%;
}

.profil-deconnect button{
    background: transparent;
    padding: .5rem 1rem;
    margin: 0 .2rem;
    border: 1px solid var(--color-B-btn);
}

.profil-deconnect .deconnect-btn{
    color: white;
    background: var(--color-B-btn);
}

.photo-profil img{
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}

.header-profil{
    min-height: 30vh;
    background: black;
}

#cours-suivis a{
    text-decoration: none;
}

#cours-suivis .item1-cs{
    padding: 1.5rem;
    box-shadow: 0 1px 5px 0 rgba(84,84,84,0.2), 0 2px 2px 0 rgba(84,84,84,0.2), 0 3px 1px -2px rgba(84,84,84,0.2);
    transition: .5s;
}

#cours-suivis .item1-cs:hover{
    transform: translateY(-7%);
    transition: .5s;
}

#cours-suivis .item1-cs img{
    height: 4rem;
    float: right;
}

#cours-suivis .item1-cs .nb-cours{
    color: var(--color-B-btn);
}

#cours-suivis .item1-cs .nb-cours span{
    font-size: 2rem;
    font-weight: bold;
}

#cours-suivis .item1-cs .t-cours{
    margin-top: 3rem;
    margin-bottom: -1rem;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.678);
}

#cours-s{
    margin: 5rem 0;
}

#cours-s a{
    text-decoration: none;
}

#cours-s .card-cours-s{
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.192);
    border-radius: .3rem;
    min-height: 12rem;
    color: rgba(0, 0, 0, 0.705);
    margin-bottom: 2rem;
}

#cours-s .cours-s-img{
    flex: 1;
}

#cours-s .cours-s-img img{
    border-top-left-radius: .3rem;
    border-bottom-left-radius: .3rem;
    min-height: 100%;
}

#cours-s .card-cours-content{
    flex: 2;
    padding: 1rem;
    position: relative;
}

#cours-s .card-cours-content h2{
    font-size: 2rem;
}

#cours-s .card-cours-content p{
    font-size: 1.5rem;
}

#cours-s .card-cours-content p span{
    color: green;
}

#cours-s .cours-s-tab .a-tab{
    color: rgba(0, 0, 0, 0.658);
}

#cours-s .cours-s-tab .a-tab.active{
    color: var(--color-B-btn);
}

#recommmandation{
    min-height: 10rem;
    position: relative;
}

.card-recommandation{
    box-shadow: 1px 1px 1px 1px rgba(20, 23, 28, 0.048), 3px 3px 1px 1px rgba(20, 23, 28, 0.055);
    transition: .5s;
}

.card-recommandation a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.89);
}

.card-recommandation:hover{
    box-shadow: 0px 0px 12px 1px rgba(104, 104, 104, 0.315);
    transition: .5s;
}

.card-recommandation .recommandation-img img{
    width: 100%;
    height: 15rem;
}

.card-recommandation .recommandation-text{
    padding: 2.5rem 2rem;
}

#recommandation .owl-carousel .owl-item img{
    display: inline;
}

/* custom owl carousel */
.owl-carousel .owl-stage{
    min-height: 35rem;
}

.my-owl-nav {
    margin-top: 1rem;
}
.my-owl-nav span {
    background:white;
    height: 4rem;
    width: 4rem;
    padding: 15px;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 1px 5px 0 rgba(84,84,84,0.2), 0 2px 2px 0 rgba(84,84,84,0.2), 0 3px 1px -2px rgba(84,84,84,0.2);
    transition: .5s;
    z-index: 1;
}
    
.my-owl-nav span:hover {
    cursor: pointer;
}

.my-owl-nav .my-prev-button:hover{
    transform: translateX(-10%);
    transition: .5s;
}

.my-owl-nav .my-next-button:hover{
    transform: translateX(5%);
    transition: .5s;
}

.my-owl-nav .my-prev-button img,
.my-owl-nav .my-next-button img{
    height: 1.5rem;
}

.my-owl-nav .my-prev-button{
    position: absolute;
    left: -1%;
    top: 35%;
    display: flex;
    align-items: center;
}

.my-owl-nav .my-next-button{
    position: absolute;
    right: -1%;
    top: 35%;
    display: flex;
    align-items: center;
}

.owl-theme .owl-dots, .owl-theme .owl-nav{
    display: none;
}

/* edit profil */



/* PAGE LECTURE DE COURS ******************* */
/* PAGE LECTURE DE COURS ******************* */
/* PAGE LECTURE DE COURS ******************* */
/* PAGE LECTURE DE COURS ******************* */
/* PAGE LECTURE DE COURS ******************* */

.header-lectureCours{
    min-height: 10rem;
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.698)), url("../images/pattern-what-the-hex.png");
    display: flex;
    align-items: center;
    color: white;
}

.block-lectureCours .l-cours-video{
    min-height: 40rem;
}

.block-lectureCours .tab-pane{
    height: 40rem;
}

.block-lectureCours .l-cours-video video{
    width: 100%;
    height: 40rem;
    outline: none;
}


/* css tabs */
.b-tab {
    padding: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.089);
    display: none;
}

.b-tab.active {
    display: block;
}

.b-nav-tab {
    display: inline-block;
    padding: 10px;
}

.b-nav-tab.active {
    color: var(--color-B-btn);
    border-bottom: 4px solid var(--color-B-btn);
    transition: .5s;
}

.b-nav-tab:hover{
    border-bottom: 4px solid var(--color-B-btn);
    transition: .5s;
}

.l-description-video a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.747);
}

.l-description-video .b-content-tab{
    width: 60%;
    margin: auto;
}

.l-description-video .b-content-tab .section-propos{
    border-top: 1px solid rgba(0, 0, 0, 0.089);
    border-bottom: 1px solid rgba(0, 0, 0, 0.089);
    padding: 1rem 0;
}

.l-description-video .b-content-tab .section-propos p{
    color: rgba(0, 0, 0, 0.61);
    font-size: 1.7rem;
}

.l-description-video .b-content-tab .section-propos ul{
    display: flex;
    flex-wrap: wrap;
}

.l-description-video .b-content-tab .section-propos ul li{
    list-style: none;
    margin-right: 2rem;
    width: 45%;
    color: rgba(0, 0, 0, 0.473);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.block-minuature-video{
    position: sticky;
    top: 4.5rem;
    border-left: 1px solid rgba(0, 0, 0, 0.089);
    min-height: 90vh;
}

.block-minuature-video .conntent-mv{
    padding: 1rem .5rem;
    background: rgba(255, 255, 255, 0.466);
    box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
}

  /* accordeon */
.faq-questions{
    margin-top: 1rem;
}

.faq-quest{
    box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.05);
    padding: 25px;
    border-radius: 3px;
    font-size: 18px;
}

.faq-quest h5{
    margin-bottom: 0;
    font-size: 18px;
}

.faq-quest h5 a{
    color:#364867;
    text-decoration: none;
}

.faq-quest ul li{
    list-style: none;
    margin-left: 2rem;
}

.faq-quest .card a{
    color: #47bbe3;
}

.faq-quest h5 a[aria-expanded="true"],.p-bold{
    font-weight: 600;
}

.faq-quest h5 a[aria-expanded="true"] i{
    border: 2px solid var(--color-B-btn);
}

.faq-quest h5 a i{
    float: right;
    -webkit-text-stroke: 1px #f0f1f5;
    width: 30px;height: 30px;
    text-align: center;
    line-height: 29px;
    font-size: 18px;
    color: var(--color-B-btn);
    border-radius: 25px;
    border: 2px solid transparent;
}

.faq-quest .card{
    border: 0;
    padding: 30px 0 20px;
}


/* PAGE PAYEMENT ************************** */
/* PAGE PAYEMENT ************************** */
/* PAGE PAYEMENT ************************** */
/* PAGE PAYEMENT ************************** */
/* PAGE PAYEMENT ************************** */

/* forms payment*/
.formulaire{
    padding: 5rem 1rem;
    min-height: calc(100vh - 144px);
}

.formulaire .f-input{
    width: 100%;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.383);
    transition: .5s;
}

.formulaire .f-input:focus{
    border: 1px solid var(--color-B-btn);
    transition: .5s;
}

.formulaire1 h1{
    margin-bottom: 1.4rem;
    font-size: 3rem;
}
.button-radio label
{
    margin: 0 0 1.7rem 1rem;
    font-size: 1.6rem;
}
.formulaire2
{
    border: 1px solid rgba(0, 0, 0, 0.089);
    padding: 2rem;
    width: 100%;
    background: rgba(233, 233, 233, 0.616);
}
.formulaire2 input
{
    padding: 1.3rem;
    font-size: 1.4rem;
}
.formulaire2 label, p
{
    font-size: 1.5rem;
}
.check-input
{
    margin-top: 1rem;
}
.check-input label
{
    margin-left: .8rem;
    font-size: 1.4rem;
}
.line a{
    color: var(--color-B-btn);
    text-decoration: none;
    margin: 1.5rem 0;
}
.formulaire h4{
    margin: 4rem 0;
    font-size: 3rem;
    font-weight: bold;
}
.detail
{
    display: flex;
    justify-content: space-between;
}
.detail p
{
    font-size: 1.9rem;
}
.detail1
{
    display: flex;
}
.detail1 p
{
    margin-left: 2.2rem;
    font-size: 1.9rem;
}
.detail img
{
    height: 5rem;
    width: 5rem;
}

/* custom radio and checkbox*/
/* radio */
.custom-radio {
    display: none;
}

.custom-radio + label {
    font-weight: normal;
    cursor: pointer;
}

.custom-radio + label span {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    width: 18px;
    height: 18px;
    cursor: pointer;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    border: 1px solid var(--color-B-btn);
}

.custom-radio + label span::before {
    content: "";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    width: 9px;
    height: 9px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: var(--color-B-btn);
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

.custom-radio:checked + label span::before {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
}
.custom-radio:disabled + label {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
}
    .custom-radio:disabled + label, .custom-radio:disabled + label span {
    cursor: default;
    }

/* checkboss */
.custom-checkbox {
    display: none;
}

.custom-checkbox + label {
    font-weight: normal;
    cursor: pointer;
}

.custom-checkbox + label span {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    width: 18px;
    height: 18px;
    cursor: pointer;
    position: relative;
    border: 1px solid var(--color-B-btn);
}

.custom-checkbox + label span::before {
    content: "";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    width: 9px;
    height: 9px;
    background-color: var(--color-B-btn);
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
}
.custom-checkbox:checked + label span::before {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
}
.custom-checkbox:disabled + label {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
}
.custom-checkbox:disabled + label, .custom-checkbox:disabled + label span {
    cursor: default;
}


/* resumé */

.resumé{
    min-height: 30rem;
    box-shadow: 0px 0px 18px -12px rgba(0,0,0,0.75);
    padding: 2.5rem;
}
.resumé h2{
    font-size: 2.5rem;
    padding-bottom: 1.5rem;
}
.text-resumé{
    display: flex;
    justify-content: space-between;
}
.text-resumé p{
    font-size: 1.8rem;
}
.resumé hr{
    background: var(--color-head);
}
.resumé a{
    justify-content: center;
    align-items: center;
    display: flex;
    padding: .9rem;
    color: white;
    background: #95329a;
    text-decoration: none;
    margin-top: 2rem;
    transition: all 1s;
}
.resumé a:hover{
    color: white;
    background: black;
    transition: all 1s;
}


/* PAGE RECHERCHE ************************* */
/* PAGE RECHERCHE ************************* */
/* PAGE RECHERCHE ************************* */
/* PAGE RECHERCHE ************************* */
/* PAGE RECHERCHE ************************* */

.main-box_recherche{
    padding: 5rem 0;
}

.box-recherches{
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
    min-height: 20rem;
    border-radius: .3rem;
    margin-bottom: 1rem;
    transition: .5s;
    position: relative;
}

.box-recherche-reetour{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box-recherche-reetour button{
    outline: none;
    padding: .5rem 2rem;
    background: var(--color-B-btn);
    color: white;
    border: none;
}

.box-recherches:hover{
    transition: .5s;
    box-shadow: 0px 0px 20px -12px rgba(0,0,0,0.75);
    transform: translateY(-3%);
}

.main-box_recherche .mb-recherche{
    margin-bottom: 2rem;
}

.main-box_recherche a{
    text-decoration: none;
    color: black;
}

.main-box_recherche .info-recherche{
    padding: 1.5rem;
    display: flex;
}

.main-box_recherche .info-recherche .p-img{
    height: 15rem;
    width: 30%;
    margin-bottom: 0;
}

.main-box_recherche .info-recherche .p-img img{
    height: 100%;
    width: 100%;
}

.main-box_recherche .info-recherche div{
    padding: 0 1.5rem;
}

.main-box_recherche .info-recherche div small{
    color: #983298;
}

.main-box_recherche .info-recherche div h2{
    font-weight: bold;
}

.main-box_recherche .footer-recherche{
    background: #983298;
    border-bottom-left-radius: .3rem;
    border-bottom-right-radius: .3rem;
    min-height: 2rem;
    padding: 1rem;
    color: white;
    display: flex;
    justify-content: flex-end;
}

.main-box_recherche .footer-recherche span{
    margin-left: 1.5rem;
}

.main-box_recherche .footer-recherche img{
    height: 1.5rem;
    margin-right: .5rem;
}

.pagination .btn-n{
    border: 1px solid transparent;
    color: black;
}

.pagination .page-item.active .page-link{
    background: rgba(0, 0, 0, 0.158);
    border-color: transparent;
}

.pagination .page-prev,
.pagination .page-next{
    border: 1px solid var(--color-B-btn);
}

/* PAGE PANIER  **************************** */
/* PAGE PANIER  **************************** */
/* PAGE PANIER  **************************** */
/* PAGE PANIER  **************************** */
/* PAGE PANIER  **************************** */

/* panier vide */
#panier{
    padding: 6rem 0 8rem 0;
}

#panier .cpte{
    font-size: 1.9rem;
    color: rgba(0, 0, 0, 0.719);
}

.paniervide{   
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 32rem;
    border: 1px solid #dedfe0;
    padding: 2rem;
    box-shadow: 0 0 2px #dedfe0e0;
}

.paniervid{
    display: block;
    text-align: center;
}

.paniervid .image{
    width: 9rem;
    height: auto;
    margin: auto;
    margin-bottom: 1rem;
}

.paniervid .text{
    font-size: 1.6rem;
    color: rgba(0, 0, 0, 0.555);   
    margin-bottom: 1.5rem;
}

.paniervid a{
    font-size: 1.6rem;
    color: white;
    background-color: var(--color-primary);
    padding: 1.3rem;
    border-radius: 2px;
    text-decoration: none;
    transition: .5s;
}

.paniervid a:hover{
    color: white;
    background-color: rgba(0, 0, 0, 0.856);
    transition: .5s;
}

.text-gauche{
    padding: 3rem 0;
}

.text2{
    margin-top: 3rem;
}

.text1 h5,
.text2 h5{
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.753);
}

.text1 p,
.text2 p{
    font-size: 1.6rem;
    color: rgba(0, 0, 0, 0.555); 
}

.block-droit{
    margin-left: 1.5rem;
}

.totals{
    display: block;
}

.total h5{
    color: rgba(0, 0, 0, 0.555);
    font-size: 2rem;
}

.total .pric{
    color: black;
    font-size: 3.5rem;
}

.total .reduit{
    color: rgba(0, 0, 0, 0.555);
    font-size: 1.8rem;
}

.total a{
    color: white;
    background-color: var(--color-primary);
    font-size: 2rem;
    padding: 1.3rem 10rem;
    text-decoration: none;
    border-radius: 2px;
    transition: .5s;
}

.total a:hover{
    background: black;
}

.total .divider{
    margin-top: 2rem;
}

.forms{
    display: flex;
}

.forms input{
    border: 1px solid var(--color-B-btn);
    padding: .6rem 1.5rem;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.842) ;
}

.forms input:focus{
outline: none;
}

.forms button{
    border: 1px solid var(--color-B-btn);
    padding: .5rem;
    font-size: 1.4rem;
    color: white ;
    background-color: var(--color-primary);
    transition: .5s;
    outline: none;
}

.forms button:hover{
    color: white;
    background-color: #6b016b;
    transition: .5s;
}

.paniers .block-gauche{
    display: flex;
    width: 100%;
    min-height: 10rem;
    border: 1px solid #dedfe0;
    padding: 1rem;
    box-shadow: 0 0 2px #dedfe0e0;
}

.paniers .block-gauche img{
    width: 13rem;
    height: auto;
}

.liens{
    display: flex;
}

.test,
.lien{
    padding: 0 1rem;
}

.test h4{
    font-size: 1.5rem;
    font-weight: bold;
}

.test p{
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.555);
}

.lien a{
    text-align: end;
    display: block;
    font-size: 1.4rem;
    color: rgb(85, 18, 85);
    text-decoration: none;
}

.prix a{
    font-size: 1.6rem;
    color: var(--color-primary);
    text-decoration: none;
}

.reverse-payement{
    flex-direction: row-reverse;
}


/* PAGE INSCTRUCTION QUIZ  **************************** */
/* PAGE INSCTRUCTION QUIZ  **************************** */
/* PAGE INSCTRUCTION QUIZ  **************************** */
/* PAGE INSCTRUCTION QUIZ  **************************** */
/* PAGE INSCTRUCTION QUIZ  **************************** */

#instruction-quiz{
    min-height: calc(100vh - 127.11px);
    position: relative;
}

#instruction-quiz .contain-clip{
    height: 30rem;
}

#instruction-quiz  .block-clip{
    clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
    background: #983298;
    color: white;
    height: 100%;
    padding: 2rem;
    position: relative;
}

#instruction-quiz  .block-clip .position-quiz{
    width: 40%;
    position: absolute;
    top: 7%;
    left: 15%;
}

#instruction-quiz  .block-clip .position-quiz p{
    font-size: 4rem;
}

#instruction-quiz .position-quiz p span{
    font-size: 8rem;
    margin-right: 1rem;
}

#instruction-quiz .card-instruction{
    height: 90%;
    min-width: 27%;
    background: white;
    position: absolute;
    padding: 2rem;
    top: 50%;
    right: 15%;
    transform: translateY(-50%);
    box-shadow: 2px 2px 2px 2px rgba(152,50,152,1);
}

#instruction-quiz .card-instruction h1{
    text-align: center;
    font-weight: bolder;
    position: relative;
    padding-bottom: 1rem;
    margin-bottom: 1.5rem;
}

#instruction-quiz .card-instruction h1::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    background: #6b016b;
    height: 2px;
}

#instruction-quiz .card-instruction .info-quiz{
    min-height: 75%
}

#instruction-quiz .card-instruction ul li{
    list-style-type: circle;
    margin-left: 4rem;
    font-size: 1.5rem;
}

#instruction-quiz .card-instruction a{
    float: right;
}

#instruction-quiz .card-instruction button{
    outline: none;
    padding: .5rem 1rem;
    background: #6b016b85;
    border: 1px solid #6b016b;
    transition: .5s;
}

#instruction-quiz .card-instruction button:hover{
    background: black;
    transition: .5s;
    border: 1px solid transparent;
    color: white;
}

#instruction-quiz .block-type-langage{
    position: relative;
    height: 10rem;
}

#instruction-quiz .block-type-langage .type-langage{
    width: 40%;
    position: absolute;
    left: 15%;
    bottom: 0;
}

#instruction-quiz .type-langage p{
    font-size: 1.8rem;
}

#instruction-quiz .type-langage h1{
    font-weight: bolder;
}


/* PAGE QUIZ  **************************** */
/* PAGE QUIZ  **************************** */
/* PAGE QUIZ  **************************** */
/* PAGE QUIZ  **************************** */
/* PAGE QUIZ  **************************** */

#mainBox-quiz{
    background: linear-gradient(rgba(0, 0, 0, 0.699), rgba(0, 0, 0, 0.733)), url("../images/bg/bg-laptop-1.jpg") no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mainBox-quiz .content-quiz{
    height: 80vh;
    width: 65%;
}

#mainBox-quiz .block-question,
#mainBox-quiz .block-numeroQ{
    width: 100%;
    background: rgba(255, 255, 255, 0.589);
}

#mainBox-quiz .block-question{
    height: 80vh;
    position: relative
}

.block-question .h-question{
    background: rgb(243, 239, 231);
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.block-question .pd-question{
    padding: 0 2rem;
    position: relative;
    min-height: 45rem;
}

.block-question .quiz-time{
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 1.3rem;
    color:white;
    padding: .1rem 0;
    background: rgb(170, 10, 135)
}

#mainBox-quiz .block-numeroQ{
    min-height: 40vh;
    padding: 2rem .5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#mainBox-quiz .block-question .quiz-footer{
    position: absolute;
    bottom: 3%;
    display: flex;
    justify-content: space-between;
    width: 93%;
}

#mainBox-quiz .block-question .quiz-footer button{
    background: transparent;
    border: 1px solid #6b016b;
    padding: .5rem 1rem;
    transition: .5s;
}

#mainBox-quiz .block-question .quiz-footer button:hover{
    background: #6b016b;
    color: white;
    transition: .5s;
}

#mainBox-quiz .block-numeroQ button{
    height: 3.5rem;
    width: 3.5rem;
    border: 1px solid #6b016b;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 .5rem;
    background: transparent;
}

.block-question .custom-radio + label span,
.block-question .custom-checkbox + label span{
    /* height: 1.4rem;
    width: 1.4rem; */
    margin-bottom: .5rem;
}

/* .block-question .custom-radio + label span::before,
.block-question .custom-checkbox + label span::before{
    height: .7rem;
    width: .7rem;
} */

.block-question form label{
    font-size: 1.4rem;
}

/* popup confirmation */
.modal-window {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.603);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.modal-window:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

.modal-window > div {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    padding: 2em;
    background: #ffffff;
}

.modal-window header {
    font-weight: bold;
}

.modal-window h1 {
    font-size: 150%;
    margin: 0 0 15px;
}
  
.modal-close {
    color: #aaa;
    position: absolute;
    right: 2%;
    text-align: center;
    top: 2%;
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-decoration: none;
}

.modal-close img{
    height: 1.5rem;
    transition: .5s;
}

.modal-close:hover {
    background: red;
}

.modal-close:hover img{
    transform: rotate(135deg);
    transition: .45s;
}

#open-modal .envoi-quiz button{
    padding: .5rem 2rem!important;
}

/* tabs question */
.content-quiz .info{
    display:none
}

.content-quiz .n-active{
    display:block
}

.content-quiz .current{
    background-color: #6b016b!important;
    color: white;
}

/* .block-numeroQ .btn-active{
    color: white;
    background-color: #6b016b!important;
} */


/* PAGE RESULTAT QUIZ  **************************** */
/* PAGE RESULTAT QUIZ  **************************** */
/* PAGE RESULTAT QUIZ  **************************** */
/* PAGE RESULTAT QUIZ  **************************** */
/* PAGE RESULTAT QUIZ  **************************** */
.content-resultat{
    width: 50%;
    min-height: 50rem;
    background: rgba(255, 255, 255, 0.589);
    border-top: 1.5rem solid rgb(243, 239, 231);
    border-bottom: 1.5rem solid rgb(170, 10, 135);
    padding: 3rem;
    text-align: center;
}

.content-resultat h1{
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

.content-resultat .result-info .result-score{
    font-weight: bold;
    margin-left: 1rem;
    font-size: 2rem;
}

.content-resultat .result-info ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.content-resultat .result-info ul li{
    list-style: none;
    border: 1px solid var(--color-B-btn);
    width: 40%;
    padding: 1rem;
    margin: 0 1rem 2rem;
    text-align: left;
}

.content-resultat hr{
    background: black;
    height: 1px;
    margin-bottom: 2rem;
}

.content-resultat .result-decision img{
    height: 10rem;
}

.content-resultat .result-decision .desision-phrase{
    font-size: 2rem;
    color: green;
}

.content-resultat .result-decision button{
    border: 1px solid rgb(243, 239, 231);
    background: transparent;
    padding: .5rem 2rem;
    margin: 0 .5rem;
    font-size: 1.8rem;
    width: 15rem;
    font-weight: bold;
    transition: .5s;
}

.content-resultat .result-decision button:hover{
    border: 1px solid rgb(170, 10, 135);
    background: rgb(170, 10, 135);
    color: white;
    transition: .5s;
}



/* PAGE Enseignement  **************************** */
/* PAGE Enseignement  **************************** */
/* PAGE Enseignement  **************************** */
/* PAGE Enseignement  **************************** */
/* PAGE Enseignement  **************************** */

/* section pourquoi */
#pourquoi-enseigner .main-pourquoi{
    padding: 3rem 0 5rem;
}

.titre-pourquoi h1{
    text-align: center;
    margin-bottom: 5rem;
    font-size: 4rem;
    position: relative;
    padding-bottom: 1.5rem;
}

.titre-pourquoi h1::after{
    content: "";
    position: absolute;
    bottom: 0;
    background: var(--color-B-btn);
    height: 2px;
    width: 10%;
    left: 50%;
    transform: translateX(-50%);
}

#pourquoi-enseigner .img-pourquoi img{
    height: 25rem;
    width: 40rem;
    float: right;
    box-shadow: -20px -18px 0px 0px rgba(0,0,0,1);
}

#pourquoi-enseigner .description-pourquoi{
    width: 75%;
}

#pourquoi-enseigner .description-pourquoi button{
    color: white;
    background: var(--color-B-btn);
    border: 1px solid var(--color-B-btn);
    padding: .5rem 2rem;
    transition: .5s;
    margin-top: 2rem;
}

#pourquoi-enseigner .description-pourquoi button:hover{
    color: black;
    background: #95329a57;
    transition: .5s;
}

.main-pourquoi .item-pourquoi{
    text-align: center;
}

.main-pourquoi .item-pourquoi img{
    height: 4.5rem;
}

.main-pourquoi .item-pourquoi h2{
    padding: .5rem 0;
}

/* section dynamique */
#dynamique{
    padding: 5rem 0;
    background: linear-gradient(rgba(0, 0, 0, 0.795),rgba(0, 0, 0, 0.808)), url("../images/woman-programming-on-a-notebook-1181359.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 32rem;
    color: white;
}

#dynamique .titre-pourquoi h1{
    margin-bottom: 5rem;
}

#dynamique .item-dynamique{
    text-align: center;
}

#dynamique .item-dynamique h2{
    font-size: 4rem;
}

/* section connaissance */
#connaissance{
    padding: 5rem 0;
}

#connaissance .item-connaissance{
    border: 1px solid white;
    padding: 1rem;
    width: 90%;
    margin: auto;
    margin-top: 2rem;
    transition: .5s;
}

#connaissance .item-connaissance:hover{
    box-shadow: 0px 2px 4px 1px rgba(255,255,255,1);
    transform: translateY(-2%);
    transition: .5s;
}

#connaissance .bt-connaissance-1{
    border-top: .5rem solid var(--color-B-btn);
}

#connaissance .bt-connaissance-2{
    border-top: .5rem solid orange;
}

#connaissance .bt-connaissance-3{
    border-top: .5rem solid green;
}

#connaissance .item-connaissance .quote{
    font-size: 5rem;
    display: inline-block;
}

#connaissance .item-connaissance .quote-1{
    height: 1px;
}

#connaissance .item-connaissance .quote-2{
    float: right;
}

#connaissance .item-connaissance img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    margin-right: 1.5rem;
}

#connaissance .info-connaissance{
    display: flex;
    margin-top: 7rem;
}

#connaissance .info-connaissance .texte-connaissance{
    line-height: 1.5rem;
}

/* section aide */
#aide{
    padding: 5rem 0;
    background: linear-gradient(rgba(0, 0, 0, 0.603), rgba(0, 0, 0, 0.562)), url("../images/bg/bg-workstation-3.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    min-height: 35rem;
}

#aide .item-aide{
    width: 75%;
    margin: auto;
    text-align: center;
}

/* section demande formateur */
#demande-formateur{
    padding: 5rem 0;
}

#demande-formateur h1{
    margin-bottom: 2rem;
    font-size: 4rem;
}

#demande-formateur p{
    width: 70%;
    margin: auto;
    margin-bottom: 2rem;
}

#demande-formateur button{
    color: white;
    background: var(--color-B-btn);
    border: 1px solid var(--color-B-btn);
    padding: .5rem 2rem;
    transition: .5s;
}

#demande-formateur button:hover{
    color: black;
    background: #95329a57;
    transition: .5s;
}

/* popup demande */
#demande-formateur .modal-window{
    overflow-y: scroll;
}

#demande-formateur .modal-window > div{
    width: 30%;
    min-height: 30vh;
    margin: 13rem 0 5rem;
}

#demande-formateur .modal-window form input{
    width: 100%;
    margin-bottom: 1rem;
    padding: .5rem 1rem;
    outline: none;
    border: 1px solid black;   
}

#demande-formateur .modal-window form input:focus{
    outline: 1px solid var(--color-B-btn);
}

#demande-formateur .modal-window form button{
    width: 90%;
}

#demande-formateur .modal-window h3{
    border-bottom: 1px solid black;
    padding-bottom: 1.5rem; 
    margin-bottom: 1.5rem;
}

#demande-formateur .modal-window .formateur-descript{
    text-align: left;
    width: 100%;
}

#demande-formateur .modal-window .form-check{
    padding: 0;
    text-align: left;
}

#demande-formateur .modal-window .form-check p{
    display: inline-block;
    text-align: left;
    width: 90%;
}


#demande-formateur .custom-checkbox + label span{
    vertical-align: top;
    margin-top: .5rem;
}

#demande-formateur .f-form-footer{
    border-top: 1px solid black;
    padding-top: 1.5rem;
    margin-top: 2rem;
    text-align: center;
    width: 100%;
}


/* PAGE Recommandation  **************************** */
/* PAGE Recommandation  **************************** */
/* PAGE Recommandation  **************************** */
/* PAGE Recommandation  **************************** */
/* PAGE Recommandation  **************************** */

.box-error{
    background: #fff;
    padding: 2rem 0;
    box-shadow: 0 0 40px 0 rgba(0,0,0,.1);
    margin-bottom: 2rem;
}

.box-error img{
    height: 20rem;
    margin-bottom: 1rem;
}

/* animate img search */
@-webkit-keyframes swinging{
    0%{-webkit-transform: rotate(10deg);}
    50%{-webkit-transform: rotate(-5deg)}
    100%{-webkit-transform: rotate(10deg);}
}
 
@keyframes swinging{
    0%{transform: rotate(10deg);}
    50%{transform: rotate(-5deg)}
    100%{transform: rotate(10deg);}
}
 
.swingimage{
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-animation: swinging 3.5s ease-in-out forwards infinite;
    animation: swinging 3.5s ease-in-out forwards infinite;
}

#recommandation-cours{
    padding: 5rem 0 2.5rem;
}

#recommandation-cours h1,
#recommandation-certifications h1{
    font-size: 4rem;
    padding-bottom: .5rem;
    position: relative;
}

#recommandation-cours h1::after,
#recommandation-certifications h1::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 10%;
    height: 2.5px;
    background: var(--color-B-btn);

}

#recommandation-cours .B-card,
#recommandation-certifications .B-card{
    margin-top: 2rem;
    box-shadow: 0 0 40px 0 rgba(0,0,0,.1);
    transition: .5s;
    margin-bottom: 2rem;
}

#recommandation-cours .B-card:hover,
#recommandation-certifications .B-card:hover{
    transform: translateY(-2%);
    transition: .5s;
}

#recommandation-cours .lien-detail,
#recommandation-certifications .lien-detail{
    color: black;
    text-decoration: none;
}

#recommandation-certifications{
    padding: 2.5rem 0 5rem;
}


/* PAGE Detail Recommandation  **************************** */
/* PAGE Detail Recommandation  **************************** */
/* PAGE Detail Recommandation  **************************** */
/* PAGE Detail Recommandation  **************************** */
/* PAGE Detail Recommandation  **************************** */

#detail-recommande{
    padding: 5rem 0;
}

#detail-recommande .item-detail{
    min-height: 30rem;
    width: 100%;
    background: white;
    box-shadow: 0 0 40px 0 rgba(0,0,0,.1);
    padding: 2rem;
}

#detail-recommande .item-detail .img-article{
    margin-bottom: 2rem;
}

#detail-recommande .item-detail .img-article img{
    width: 100%;
    height: 46rem;
}

#detail-recommande .item-detail .description-recommande{
    width: 90%;
    margin: auto;
}

#detail-recommande .description-recommande h1{
    font-weight: bold;
    text-transform: uppercase;
}

#detail-recommande .description-recommande .auteur-c{
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
}

#detail-recommande .description-recommande h3{
    font-weight: bold;
}

#detail-recommande .description-recommande ul{
    margin: 0 0 2rem 3rem;
}

#detail-recommande .description-recommande ul li{
    list-style: circle;
    font-size: 1.6rem;
}

#detail-recommande .description-recommande button{
    padding: .5rem 3rem;
    background: var(--color-B-btn);
    color: white;
    transition: .5rem;
    border: 1px solid transparent;
}

#detail-recommande .description-recommande button:hover{
    background: black;
    transition: .5s;
    transform: scale(1.1);
}

#detail-recommande .autre-article{
    width: 70%;
    margin: auto;
    position: sticky;
    top: 6rem;
}

#detail-recommande .autre-article .lien-detail{
    color: black;
    text-decoration: none;
}

#detail-recommande .autre-article .B-card{
    margin-top: 0;
    box-shadow: 0 0 40px 0 rgba(0,0,0,.1);
    transition: .5s;
    margin-bottom: 2rem;
}

/* FOOTER ********************************* */

#footer-p{
    padding: 3rem 0;
    min-height: 15rem;
}

.footer-item h3{
    font-size: 2.5rem;
}

.footer-item ul li{
    list-style-type: none;
    margin-bottom: 10px;
}

.footer-item ul li a{
    color: rgba(0, 0, 0, 0.781);
    text-decoration: none;
    transition: .6s;
}

.footer-item ul li a:hover{
    color: #777FFE;
    transition: .6s;
}

.reseaux-img a img{
    height: 40px;
    width: 40px;
    border: 50%;
    margin: 0 8px;
}

.inner-background{
    background: black;
    padding: 20px 0;
    color: rgba(255, 255, 255, 0.534);
}

#footer-recherche{
    background: rgb(223, 223, 223);
}











/* MEDIA SCREEN ******************** */
/* MEDIA SCREEN ******************** */
/* MEDIA SCREEN ******************** */
/* MEDIA SCREEN ******************** */

@media screen and (max-width:1380px){
    .navigation-box .searchbar form input{
        width: 85%;
    }
}

@media screen and (max-width: 1200px){    
    /* index */
    .d-nones{
        display: none;
    }

    .navigation-box .p-categories{
        display: none!important;
    }

    .navigation-box .menu-bar img,
    .navigation-box .d-search img{
        display: block;
    }

    /* tooltip */
    .tooltipHiden
    {
        visibility: hidden;
        position: absolute;
        top: 100%;
        left: -10%;
        z-index: 333333;
    }

    .tooltip-bloc
    {
        width: 100%;
        margin: 0px 10px;
        padding: 7px 15px;
        background: var(--color-white);
        font-size: 13px;
        border-radius: 2px;
        box-shadow: 0px 2px 8px -1px rgba(0,0,0,0.75);
    }

    /* page panier */
    .test{
        width: 26rem;
    }
    .test h4{
        font-size: 1.4rem;
    }
    .test p{
        font-size: 1.2rem;
    }
    .lien a{
        font-size: 1.3rem;
    }  
    .total a{
        padding: 1.1rem 8rem;
    }
    .forms input{
        padding: .5rem;
        font-size: 1.4rem;
    }
    .forms button{
        padding: .4rem;
        font-size: 1.3rem;    
    }

    /* page detail recommandation */
    #detail-recommande .autre-article{
        width: 90%;
    }
}

@media screen and (max-width: 992px){
    /* page panier */
    .totals{
        display: flex;
    }
    .total h5{
        font-size: 2.5rem;
    }
    .total .pric{
        font-size: 4rem;
        margin-top: -2rem;
    }
    .total .reduit{
        font-size: 2rem;
    }
    .total a{
        width: 100%;
    }
    .total .divider{
        width: 31rem;
    }

    /* .forms input{
        
    } */
    .forms button{
        padding: .5rem ;
    } 
    .cpte {
        padding-top: 2.5rem;
    }
    .paniers .block-gauche{
        display: block;
    }
    .test{
        width: 48rem;
    }
    .test h4{
        font-size: 1.7rem;
    }
    .test p{
        font-size: 1.4rem;
    }
    .lien a{
        display: inline;
        font-size: 1.3rem;
        padding: .5rem;
    }
    .prix a{
        padding: 1rem;
        font-size: 2.2rem;
    }  

    /* page recherche */
    .main-box_recherche .info-recherche .p-img{
        width: 60%;
    }

    /* page instruction quiz */
    #instruction-quiz .block-clip .position-quiz,
    #instruction-quiz .block-type-langage .type-langage{
        left: 10%;
    }

    #instruction-quiz .card-instruction{
        right: 10%;
    }

    /* page resultat quiz */
    .content-resultat{
        width: 70%;
    }

    /* page detail recommandation */
    #detail-recommande .item-detail{
        margin-bottom: 3rem;
    }

    #detail-recommande .autre-article{
        width: 100%;
    }

    #detail-recommande .autre-article .B-card{
        height: 40rem;
    }

    #detail-recommande .autre-article .B-card img{
        height: 25rem;
    }

    /* page enseignement */
    #demande-formateur .modal-window > div{
        width: 50%;
    }
}

@media screen and (max-width:767px){
    /* index */
    #service{
        background: transparent;
        padding: 0;
        margin-top: -5rem;
    }
    
    #service .item-service{
        margin-bottom: 1.5rem;
        background: var(--color-primary);
        padding: 2rem;
        justify-content: center;
    }

    .B-card{
        margin-left: 0;
        
    }

    /* form action */
    #action .modal-content{
        width: 80%;
        margin: auto;
    }

    /* form inscription */
    #inscription .description-inscription{
        margin-bottom: 3rem;
    }

    #inscription .form-inscription{
        width: 80%;
    }

    /* page cours */
    .Iheader-cours{
        min-height: 50vh;
    }

    .box-content_cours{
        width: 100%;
    }

    .pt-10{
        margin-top: 5rem;
    }

    .achat-liste{
        text-align: left!important;
        margin-bottom: 1.5rem!important;
    }

    .achat-liste button{
        margin-right: 0!important;
        margin-bottom: 1rem;
    }

    /* page profil */
    .containers{
        width: 90%!important;
    }

    .containers .b-tab{
        padding: 0;
        margin-top: 2rem;
    }

    #cours-suivis .item1-cs{
        margin-bottom: 1.5rem;
    }

    .my-owl-nav span {
        height: 4rem;
        width: 4rem;
        display: flex;
        align-items: center;
    }

    .my-owl-nav .my-prev-button img,
    .my-owl-nav .my-next-button img{
        height: 2rem;
    }

    /* page payement */
    .mb-form{
        margin-bottom: 3rem;
    }

    .formulaire h4{
        margin: 2rem 0;
        font-size: 2.5rem;
    }

    /* page recherche */
    .main-box_recherche .info-recherche .p-img{
        width: 80%;
    }

    /* page panier */
    .total .pric{
        font-size: 3.2rem;
        margin-top: -1.1rem;
    }
    .lien{
        padding: .1rem;
    }
    .lien a{
        display: block;
        text-align: left;
    }
    .prix a{
        padding-left: 3rem;
    }

    /* page lecture cours */
    .l-description-video .b-content-tab{
        width: 80%;
    }

    /* page instruction quiz */
    #instruction-quiz .block-clip .position-quiz,
    #instruction-quiz .block-type-langage .type-langage{
        left: 3%;
    }

    #instruction-quiz .card-instruction{
        right: 3%;
    }

    /* page resultat quiz */
    .content-resultat{
        width: 90%;
    }

    /* page quiz */
    /* #mainBox-quiz{
        align-items: initial;
    } */

    #mainBox-quiz .block-question{
        /* margin-bottom: 2rem; */
        height: 75vh;
        /* margin-top: 2rem; */
    }

    #mainBox-quiz .block-numeroQ{
        display: none;
    }

    /* page eneignement */
    #pourquoi-enseigner .img-pourquoi img{
        float: initial;
    }

    .main-pourquoi .img-center{
        text-align: center;
    }

    #pourquoi-enseigner .description-pourquoi{
        width: 100%;
        text-align: center;
    }

    #dynamique .item-dynamique{
        margin-bottom: 2rem;
    }

    /* page enseignement */
    #demande-formateur .modal-window > div{
        width: 70%;
    }

    #aide .item-aide,
    #demande-formateur p{
        width: 90%;
    }

    /* footer */
    #footer-p{
        padding: 0 2rem;
    }
    .footer-item h3{
        margin-top: 2rem;
    }
}

@media screen and (max-width: 576px){
    /* index */
    /* .main-box{
        
    } */

    #footer-p{
        padding: 0 4éérem;
    }

    #categories .categorie-item{
        margin-bottom: 0;
        padding: 2rem;
    }

    /* tooltip */
    .tooltipHiden
    {
        visibility: hidden;
        position: absolute;
        top: 100%;
        left: -5%;
        z-index: 333333;
    }

    .tooltip-bloc
    {
        width: 100%;
        margin: 0px 10px;
        padding: 7px 15px;
    }

    .Iaccueil h1{
        font-size: 5rem;
    }

    .Iheader{
        min-height: 60vh;
    }

    /* form action */
    #action .modal-content{
        margin-top: 8rem;
    }

    #action .modal-content .header-form h2{
        font-size: 2rem;
    }

    #action .modal-content .header-form img{
        height: 1.5rem;
    }

    /* page inscription and connexion */
    #inscription .description-inscription h1{
        font-size: 3rem;
    }

    #inscription .description-inscription p{
        font-size: 1.5rem;
    }

    .input-file-container {
        position: relative;
        width: 60%;
        margin-bottom: 2rem;
    } 

    #footer-recherche{
        padding: 0 2rem;
        text-align: center;
    }

    /* page lecture cours */
    .l-description-video .b-content-tab{
        width: 95%;
    }

    /* page instruction quiz */
    #instruction-quiz .block-clip .position-quiz,
    #instruction-quiz .block-type-langage .type-langage{
        display: none;
    }

    #instruction-quiz .card-instruction{
        left: 50%;
        transform: translate(-50%,-50%);
        width: 70%;
    }

    /* page quiz */
    #mainBox-quiz .content-quiz{
        width: 80%;
    }

    /* page resultat quiz */
    .content-resultat .result-decision button{
        margin: .5rem;
    }

    /* page enseignement */
    #aide .item-aide,
    #demande-formateur p{
        width: 95%;
    }

    .titre-pourquoi h1,
    #demande-formateur h1{
        font-size: 3rem;
    }

    #dynamique .item-dynamique h2{
        font-size: 2.5rem;
    }

    /* #mainBox-quiz .block-numeroQ{
        padding: 1rem .5rem;
    } */
}

@media screen and (max-width:422px){

    /* page index */
    /* form action */
    #action .modal-content{
        width: 98%;
    }

    /* form inscription */
    #inscription .description-inscription{
        width: 100%;
    }
    #inscription .form-inscription{
        width: 100%;
    }

    /* page cours */
    .prerequis ul li{
        width: 100%;
    }

    /* page recherche */
    .main-box_recherche .info-recherche{
        display: block;
    }

    .main-box_recherche .info-recherche .p-img{
        width: 100%;
        margin-bottom: 1rem;
    }

    /* page instruction quiz */
    #instruction-quiz .card-instruction{
        width: 90%;
    }

    /* page quiz */
    #mainBox-quiz .content-quiz{
        width: 90%;
    }

    #mainBox-quiz .modal-window > div{
        width: 90%;
    }

    #mainBox-quiz .block-question .quiz-footer button{
        margin: 0 .2rem!important;
    }

    /* page enseignement */
    #pourquoi-enseigner .img-pourquoi img{
        box-shadow: -7px -7px 0px 0px rgba(0,0,0,1);
    }

    #demande-formateur .modal-window > div{
        width: 90%;
        margin: 15rem 0 5rem;
    }
    
}  






